In [2]:
import pandas as pd
import numpy as np
#sklearn
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

#Подключаем keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

#Игнорируем ошибки модели keras
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module='keras.src.trainers.data_adapters.py_dataset_adapter')

In [4]:
# Загрузка данных
df = pd.read_csv('7_49.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8685 entries, 0 to 8684
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tiraz     8685 non-null   int64
 1   1-number  8685 non-null   int64
 2   2-number  8685 non-null   int64
 3   3-number  8685 non-null   int64
 4   4-number  8685 non-null   int64
 5   5-number  8685 non-null   int64
 6   6-number  8685 non-null   int64
 7   7-number  8685 non-null   int64
 8   datetime  8684 non-null   object
 9   jackpot   8685 non-null   int64
dtypes: int64(9), object(1)
memory usage: 678.6+ KB

,tiraz,1-number,2-number,3-number,4-number,5-number,6-number,7-number,datetime,jackpot
0,1,17,12,32,47,49,2,44,2011-05-22 23:00:00,300000000
1,2,7,45,26,18,21,15,31,2011-05-29 23:00:00,300000000
2,3,37,9,23,14,22,34,39,2011-06-05 23:00:00,300000000
3,4,22,32,43,17,18,33,25,2011-06-12 23:00:00,300000000
4,5,39,17,37,45,1,43,13,2011-06-19 23:00:00,300000000

In [5]:
#Приведем тип данных datetime к дате
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d')

#Удалим jackpot
df = df.drop('jackpot', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8685 entries, 0 to 8684
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tiraz     8685 non-null   int64
 1   1-number  8685 non-null   int64
 2   2-number  8685 non-null   int64
 3   3-number  8685 non-null   int64
 4   4-number  8685 non-null   int64
 5   5-number  8685 non-null   int64
 6   6-number  8685 non-null   int64
 7   7-number  8685 non-null   int64
 8   datetime  8684 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(8)
memory usage: 610.8 KB

In [8]:
df_new = df.drop('datetime', axis=1)
df_array = np.array(df_new)
df_array

array([[   1,   17,   12, ...,   49,    2,   44],
       [   2,    7,   45, ...,   21,   15,   31],
       [   3,   37,    9, ...,   22,   34,   39],
       ...,
       [8684,   12,   18, ...,   30,   43,   27],
       [8685,   48,   37, ...,   35,   38,   33],
       [8686,   28,   29, ...,   24,   10,   13]], dtype=int64)

In [9]:
#Транспонируем матрицу
df_array_T=df_array.T
df_array_T

array([[   1,    2,    3, ..., 8684, 8685, 8686],
       [  17,    7,   37, ...,   12,   48,   28],
       [  12,   45,    9, ...,   18,   37,   29],
       ...,
       [  49,   21,   22, ...,   30,   35,   24],
       [   2,   15,   34, ...,   43,   38,   10],
       [  44,   31,   39, ...,   27,   33,   13]], dtype=int64)